// Common general rules and resets:
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.app-input {
  border: none;
  box-shadow: none;
}

// General settings:
body {
  font-family: sans-serif;
  font-size: $font-size-M;
  color: $color-neutral-500;
  font-weight: 400;
  line-height: 1.4;

  display: flex;
  flex-direction: column;
}

.page-container {
  min-height: 100vh;
  @media all and (min-width: 1200px) {
    max-width: 1600px;
    margin: 0 auto;
  }
}
