.app-header {
  background-color: $color-primary;
  color: $color-neutral-0;
  height: 100px;
  // text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-title {
  font-size: $font-size-XL;
  margin: 5px auto;
  text-transform: uppercase;
}

.btn {
  background-color: $color-neutral-0;
  padding: 2px 10px;
  margin-left: 5px;
}

.app-searcher {
  display: flex;
  justify-content: center;
  align-items: center;
}
