.app-header {
  background-color: $color-primary;
  color: $color-neutral-0;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: $font-size-XL;
  text-transform: uppercase;
}
