.app-main-content {
  padding: 20px;
  display: flex;
}

// Styles for section app-searcher-favourites on the left side
.app-searcher-favourites {
  width: 40%;
}

.app-searcher {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // background-color: green;
  padding-bottom: 20px;
  border-bottom: 2px solid $color-primary;
}

.app-label {
  color: $color-neutral-500;
  margin-bottom: 10px;
}

.app-input {
  height: 30px;
  width: 60%;
  padding-left: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid $color-primary;
}

.btn {
  background-color: $color-primary;
  color: $color-neutral-0;
  padding: 2px 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.favourites {
  margin-top: 20px;

  // background-color: blue;
  &__title {
    color: $color-primary;
    font-size: $font-size-L;
    margin-bottom: 5px;
  }
  &__description {
    margin-bottom: 5px;
  }
  &__list {
    display: flex;
    // flex: row wrap;
    flex-wrap: wrap;
  }
}

.preview--favourite {
  border: 3px solid black;
  width: 80px;
  // position: relative;

  img {
    width: 100%;
  }
  h3 {
    font-size: $font-size-S;
  }

  // &::after {
  //   content: '';
  //   background-color: yellow;
  //   border-radius: 50%;
  //   color: black;
  //   display: block;
  //   width: 50px;
  //   height: 50px;

  //   position: absolute;
  //   top: 5px;
  //   left: 5px;
  // }
}

.reset-btn {
  color: $color-neutral-0;
  background-color: $color-primary;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  padding: 3px;
  // font-weight: 8s00;
}

////////////////////////////////////////////////

// Styles for section app-result on the right side

.results {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid $color-primary;
  // background-color: pink;
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title {
    margin-bottom: 10px;
    color: $color-primary;
    font-size: $font-size-L;
    text-align: center;
  }
}
// Styles for each tv show
.show-card {
  color: $color-secondary;
  background-color: $color-primary;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.show-card--favourite {
  color: $color-primary;
  background-color: $color-secondary;
}

.app-result {
  display: flex;
}
