// Styles for each tv show
.show-card {
  color: blue;
  background-color: crimson;
  padding: 5px;
  border: 1px solid white;
}

.show-card--favourite {
  color: crimson;
  background-color: blue;
}

.preview--favourite {
  background-color: yellow;
  width: 150px;
}
.favourites {
  margin-right: 50px;

  &__title {
    color: crimson;
  }
}

.results {
  &__title {
    color: crimson;
  }
}

.app-result {
  display: flex;
}
