// Styles for each tv show
.show-card {
  color: $color-secundary;
  background-color: $color-primary;
  padding: 5px;
  border: 1px solid white;
}

.show-card--favourite {
  color: $color-primary;
  background-color: $color-secundary;
}

.preview--favourite {
  background-color: $color-tertiary;
  width: 50px;

  img {
    width: 100%;
  }
  h3 {
    font-size: $font-size-S;
  }
}
.favourites {
  margin-right: 50px;
  &__title {
    color: $color-primary;
    font-size: $font-size-L;
  }
}

.results {
  &__title {
    color: $color-primary;
    font-size: $font-size-L;
  }
}

.app-result {
  display: flex;
}
