// Color variables
$color-primary: #ff7f50;
$color-secondary: #dc143c;
$color-tertiary: #373857;

$color-neutral-0: white;
$color-neutral-500: #9b9b9b;
$color-neutral-800: #4b4b4b;
$color-neutral-1000: black;

//Font-sizes
$font-size-XL: 18px;
$font-size-L: 16px;
$font-size-M: 14px;
$font-size-S: 12px;
