// Color variables
$color-primary: crimson;
$color-secondary: coral;
$color-tertiary: yellow;

$color-neutral-0: white;
$color-neutral-500: #9b9b9b;
$color-neutral-1000: black;

//Font-sizes
$font-size-XL: 18px;
$font-size-L: 16px;
$font-size-M: 14px;
$font-size-S: 12px;
